.container {
  width: 1000px;
  margin: 0 auto;
  color: black;
}

.responsive-img {
  width: 800px;
  height: 450px;
}

@media (max-width: 1200px) {
  .container {
    width: 840px;
    color: green;
  }

  .responsive-img {
    width: 80vw;
    height: 45vw;
  }
}
@media (max-width: 900px) {
  .container {
    width: 600px;
    color: yellow;
  }
}
@media (max-width: 600px) {
  .container {
    width: 90%;
    color: red;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1360px;
    color: blue;
  }
}
