:root {
  --highlight-bg: #553ab8;
  --highlight-txt: #25a954;
  --bg-main: #0e141f;
  --text-main: #b3c2df;
  --link-bg-hover: #553ab8;
  --link-fg-hover: #25a954;
}

/* If the user has dark mode enabled on their device, the site will be shown in dark mode as well */

/*@media (prefers-color-scheme: dark) {
  :root {
    --highlight-bg: #d9f8ff;
    --highlight-txt: #212121;
  }
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1000px;
  color: var(--text-main);
}

html,
body {
  margin: auto;
}

html {
  height: 90%;
  width: 100%;
}

body {
  transition: background-color 1s;
  margin: 0 auto;
  overflow-x: hidden;
  word-break: break-word;
  background-color: var(--bg-main);
  overflow-wrap: break-word;
  font-size: 1.03rem;
  line-height: 1.5;
}

header {
  width: 100%;
}

footer {
  position: bottom;
  padding: 20px;
  bottom: 0;
  left: 15px;
  right: 15px;
  width: 100%;
  height: 100px;
  text-align: center;
  color: #7c98b3;
}
.copy {
  font-size: 24px;
}

.logo {
  color: var(--text-main);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1em;
  line-height: 1.5;
  padding-left: 5px;
  padding-top: 5px;
}

.container {
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
  padding: 0 auto;
  line-height: 1.5;
  color: var(--color-main, #24292e);
  background-color: var(--bg-main);
  font-family: sans-serif;
}

.placeholder {
  display: grid;
  height: 50vh;
  background-image: url(//unsplash.it/400/400);
  background-size: cover;
  background-color: var(--bg-main);
  width: 100%;
  place-items: center;
  z-index: -1;
  margin-top: 3em;
  border-radius: 8px;
  font-size: 1.03rem;
  line-height: 1.5;
}

.profile-pic {
  margin-top: 10vh;
  border-radius: 50%;
  background-image: url("images/profile.jpeg");
}

.bio {
  margin-top: 15em;
  font-size: 0.8em;
}

.bio p {
  margin: 1.5em;
  line-height: 1.5;
}

.display-container {
  position: relative;
  display: flex;
  /*border: 3px solid red;*/
  margin-top: 2rem;
}

nav {
  display: flex;
  flex: 1;
  position: absolute !important;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
  padding: 5px;
  background-color: var(--bg-main);
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  font-size: 1.03rem;
  line-height: 1.5;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  list-style: none;
  border-radius: 5px;
  background-color: var(--bg-main);
}

.nav-links a {
  color: var(--text-main);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1em;
}

.nav-links ul {
  margin-top: 10%;
}

.nav-links a:hover {
  background-color: var(--link-bg-hover);
  color: var(--link-fg-hover);
  border-radius: 6px;
  padding: 5px;
}

.nav-links li {
  list-style: none;
}

.burger div {
  width: 25px;
  height: 2.75px;
  background-color: #cee5f2;
  margin: 5px;
  transition: all 0.3s ease;
}

.hide {
  max-height: 0 !important;
}

.pointerCursor:hover {
  cursor: pointer;
}

.rotate-90 {
  transform: rotate(90deg);
}

.hovered-link {
  color: white;
}

.front-cover img {
  position: relative;
  z-index: -3;
}

.nav-active {
  transform: translateX(0%);
}

::selection {
  /* Set background color for selected text */
  background: var(--highlight-bg);
  color: var(--highlight-txt);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.text {
  margin-top: 2em;
  color: var(--text-main);
  font-size: 0.8em;
  text-align: center;
}

.text h6 {
  padding: 1em;
}

/* Let's get responsive! */

/* when the screen is 1024px wide, make this adjustment so the menu looks good */

@media screen and (max-width: 795px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    word-break: normal;
    overflow-wrap: unset;
  }

  .container {
    max-width: 768px;
  }

  .burger {
    display: block !important;
    background-color: #7c98b3;
  }
  nav {
    display: none;
  }
  ul {
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .container {
    width: 800px;
  }
  .nav-links {
    width: 40%;
    color: #536b78;
  }

  nav {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    width: 97%;
    font-size: 1em;
  }
  .nav-links {
    width: 70%;
    font-size: 0.8em;
  }
  h4 {
    font-size: 1em;
  }
  .logo {
    font-size: 0.7em;
    letter-spacing: 1px;
  }
  .burger {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .container {
    width: 1000px;
  }

  nav {
    display: flex;
    position: absolute !important;
    justify-content: space-between;
    height: 7vh;
    width: 60vw;
    padding: 5px;
    background-color: var(--bg-main);
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    font-size: 0.4rem;
    line-height: 1.5;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    list-style: none;
    border-radius: 5px;
    background-color: var(--bg-main);
  }

  .nav-links a {
    color: #cee5f2;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1em;
  }

  .nav-links ul {
    margin-top: 10%;
  }

  .nav-links a:hover {
    background-color: var(--link-bg-hover);
    color: var(--link-fg-hover);
  }

  .nav-links li {
    list-style: none;
  }

  .burger div {
    width: 25px;
    height: 2.75px;
    background-color: #cee5f2;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .burger {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1500px) {
  .container {
    width: 1025px;
  }
  .burger {
    display: none;
  }
}

@media (min-width: 1501px) {
  .container {
    width: 1360px;
  }
  .burger {
    display: none;
  }
}
/*
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #7c98b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    color: #536b78;
    padding: 1rem;
    border-radius: 5px;
  }
  .burger {
    display: block;
    background-color: #7c98b3;
  }
}*/
