* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3vw 7.5vw 7.5vw 20vw 5vw 10vw;
  max-width: 99%;
  height: 80%;
  padding: 0.75em;
  color: #fff;
}

.dark {
  grid-column: span 5;
  grid-row: span 1;
  background-color: #fff;
  color: #fff;
  display: flex;
}

header {
  grid-column: span 5;
  grid-row: span 1;
}

nav {
  grid-column: span 5;
  grid-row: span 2;
}

.content {
  grid-column: span 3;
  grid-row: span 1;
}

aside {
  grid-column: span 2;
  grid-row: span 2;
}

footer {
  grid-column: span 5;
  grid-row: span 1;
  justify-content: center;
}

header,
.content,
nav,
aside,
footer {
  background: #999898;
  display: flex;
  padding: 5px;
  color: rgb(6, 2, 66);
}

input#darkmode {
  float: right;
  visibility: hidden;
}

input#darkmode:checked + main {
  --color-main: #fff;
  --bg-main: #212121;
  --bg-text: #fff;
  --bg-switch: rgba(240, 246, 252, 0.15);
  --content-switch-after: " Light Mode ☀️";
}

#switch {
  cursor: pointer;
  user-select: none;
  background: var(--bg-switch, rgba(27, 31, 35, 0.05));
  border-radius: 6px;
  position: relative;
  top: 15px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  background-color: #999898;
  grid-column: span 5;
  grid-row: span 1;
}

.logo {
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.25em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #212121;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 1em;
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 5px;
  background-color: #212121;
  margin: 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

#switch::after {
  content: var(--content-switch-after, " Dark Mode 🌙");
}

@media (max-width: 700px) {
  .content,
  aside {
    grid-column: 1 / span 5;
  }
}

@media screen and (max-width: 1600px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    /* Remove scrolling from hiding nav links */
  }

  nav {
    display: -moz-inline-stack;
    right: 50px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    /* To get full screen view, subtract 100vh - min-height vh from nav above (8vh) to get this value */
    height: 92vh;
    /* To position correctly, use min-height from nav to adjust spacing for burger menu */
    top: 8vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    /* Hide menu from main view */
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    border-radius: 10px;
    padding: 10px;
  }

  .nav-links li:hover {
    background-color: grey;
    color: white;
  }

  .nav-links li,
  a:hover {
    color: white;
  }

  aside {
    grid-column: 1 / span 5;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Animate burger menu toggles */

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
}
